

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background:white;
	font-size:60px;
}

.layer {
	position:absolute;
	width:800px;
	height:250px;
	overflow:hidden;
	top:25%;
	left:25%;
	font-family:'Arial Black', sans-serif;
	text-align:center;
	line-height:0.83;
}
	.layer span {
		position:relative;
	}


.bg-layer {
	width:801px;
	height:auto;
	font-size:1em;
	background-color:rgba(255,255,255,1);
	color:rgba(255,255,255,0.75);
	text-shadow:2px 2px 0 rgba(0,0,0,0.3);
	overflow:visible;
}
.dancing-layer {
	background-color:rgba(255,255,255,0);
}

.layer1 { color:rgba(0, 0, 0, 0.3);}
	.layer1 span {left:3px;}
.layer2 { color:rgba(255, 255, 0, 0.2); text-shadow:1px 1px 0 rgba(200,0,0,0.5)} /* font-family:'Times New Roman',serif;font-weight:bold;letter-spacing:0.15em; */
	.layer2 span {left:2px; top:3px;}
.layer3 { color:rgba(0, 0, 0, 0.4);}
	.layer3 span {left:-3px;}

.layer4 { color:rgba(0, 0, 0, 1);}
	.layer4 span {left:-2px; top:2px;}
.layer5 { color:rgba(255, 0, 0, 0.5);font-size:0.96em;font-family:Verdana,sans-serif;font-weight:bold;}
	.layer2 span {top:2px;}
.layer6 { color:rgba(0, 0, 0, 0);text-shadow:0 0 8px rgba(0,0,0,0.8)}
	.layer2 span {left:3px; top:-2px;}

/*.layer1 { color:rgba(0, 255, 153, 0.5);font-size:87px;}
.layer2 { color:rgba(255, 0, 153, 0.5);font-size:88px;}
.layer3 { color:rgba(153, 0, 255, 0.5);font-size:89px;}

.layer4 { color:rgba(0, 153, 255, 0.5);font-size:91px;}
.layer5 { color:rgba(255, 153, 0, 0.5);font-size:92px;}
.layer6 { color:rgba(153, 255, 0, 0.5);font-size:93px;}*/


.line {
	position:absolute;
	border-left:1px dotted rgba(0,0,0,0.15);
	border-top:1px dotted rgba(0,0,0,0.15);
	left:0;
	top:0;
	
}
.line-v {
	width:1px;
	height:100%;
}
.line-h {
	width:100%;
	height:1px;
	
}




